@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --blue: #0b1020;
  --blue2:#6c8cff;
  --font: "Poppins", sans-serif;
}

/* Base reset */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-family: var(--font);
  background: radial-gradient(1200px 800px at 10% -10%, rgba(108, 140, 255, .12), transparent 50%), radial-gradient(800px 600px at 100% 0%, rgba(255, 255, 255, .06), transparent 40%), #0b1020;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
button{
  font-family: var(--font);
}
.common-btn {
	width: auto;
	padding: 0.8rem;
	background: var(--blue2);
	color: white;
	box-shadow: 0 10px 30px rgba(108, 140, 255, .45);
	font-weight: 600;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	margin-top: 0.5rem;
	transition: transform 0.2s, box-shadow 0.3s;
	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 8px 18px rgba(108, 140, 255, .25);
	}
}